{% extends "contracts/base.html" %}

{% load i18n %}

{% block content %}
<h2>{% trans 'Hello,' %} {{ contract.full_name }}</h2>

<p>{% trans 'Your internet plan is' %} <strong>{{ contract.get_plan_type_display }}</strong>.</p>

<p>{% trans 'Your contract is' %} {% if contract.is_active %}<span style="color: green">{% trans 'active' %}</span>{% else %}<span style="color: red">{% trans 'inactive' %}</span>{% endif %}.</p>

<h3>{% trans 'Your Devices' %}</h3>
  {% if contract.is_active %}
    {% if contract.has_devices %}
<div style="padding: 2em 1em 2em 1em">
    <form method="post">
        {% csrf_token %}
        {{ devices_formset.management_form }}
        <table>
          <thead>
            <tr>
              <th>{% trans 'Description' %}</th>
              <th>{% trans 'MAC address' %}</th>
              <th>{% trans 'Registration Date' %}</th>
              <th>{% trans 'Network Status' %}</th>
              <th>{% trans 'Remove' %}</th>
            </tr>
          </thead>
          <tbody>
                {% for form in devices_formset %}
                  {% with device=form.instance %}
            <tr>
              <td>
                  {{ form.id }} {{ form.description }}
                    {% if form.errors %}
                  <ul class="errorlist nonfield">
                        {% for error in form.errors.values %}
                      <li>{{ error }}</li>
                        {% endfor %}
                  </ul>
                    {% endif %}
              </td>
              <td>{{ device.mac_address }}</td>
              <td>{{ device.created_at | date:"N t, Y" }}</td>
              <td>{% if device.has_lease %}<span style="color: green">{% trans 'Active' %}</span>{% else %}<span style="color: orange">{% trans 'Pending' %}</span>{% endif %}</td>
              <td>
                   {{ form.DELETE }}
              </td>
            </tr>
                  {% endwith %}
                {% endfor %}
          <tr>
              <td colspan="5" style="text-align:right"><input type="submit" value="{% trans 'Save' %}"></td>
          </tr>
          </tbody>
        </table>
    </form>
</div>
    {% endif %}
<p>{% blocktranslate count max=contract.max_devices %}Your contract allows <strong>1</strong> device{% plural %}Your contract allows <strong>{{ max }}</strong> devices{% endblocktranslate %}
    {% if contract.has_devices %}
{% blocktranslate count count=contract.devices_count %}and you have <strong>1</strong> device registered.{% plural %}and you have <strong>{{ count }}</strong> devices registered.{% endblocktranslate %}
    {% else %}
{% blocktranslate %}and you haven't registered any devices yet.{% endblocktranslate %}
    {% endif %}

    {% with allowed=contract.devices_allowed %}
      {% if allowed <= 0 %}
   {% blocktranslate %}Unfortunately, you cannot register new one, contact your plan administrator to allow you to register more.{% endblocktranslate %}
</p>
      {% else %}
   {% blocktranslate count allowed=allowed %}You can still register <strong>1</strong> additional device.{% plural %}You can still register <strong>{{ allowed }}</strong> additional devices.{% endblocktranslate %}
</p>
<p>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="add" value="add">
    <input type="submit" value="{% trans 'Register your current device' %}">
  </form>
</p>
      {% endif %}
    {% endwith %}
  {% else %}
<p>{% blocktranslate %}Inactive contracts have all their devices disabled. Contact Inkirinet's support to reactivate your contract.{% endblocktranslate %}</p>
  {% endif %}
{% endblock %}
